@import 'main.css';
@import 'preview.css';

.form-container {
  background-color: var(--azul-escuro);
  height: 100vh;
}

.form {
  background-color: var(--roxo-claro);
  width: 100%;
  padding: 5rem;
}

.logo {
  letter-spacing: .5rem;
}

.logo span {
  background-color: var(--roxo-claro);
  color: white;
  border-radius: .3rem;
}

.camera-icone {
  width: 2.5rem;
}

.form-mybooks {
  background-color: var(--preto-fosco) !important;
  border: 0 !important;
  color: white !important;
}

.btn-cadastro {
  background-color: var(--roxo-opaco) !important;
  border: 0 !important;
}